em strong{
   color: red;
}

p, h1{
    text-align: center;
}

#imagem{
    width: 100%;
}

#missao{
    font-size: 20px;
}

h2{
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: tomato;
}

.principal{
    background-color: aqua;  
}

