em strong{
   color: red;
}

p, h1{
    text-align: center;
}

#imagem{
    width: 100%;
}

#missao{
    font-size: 20px;
}

h2{
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: tomato;
    padding: 20px;
}

.principal{
    background-color: aqua;  
    padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#imagemBeneficios{
    width: 50%;
}
